$blue: #5F98CD;
$blue-dark: #264057;
$blue-light: #B2DAFF;

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 400px;
  box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  font-family: 'Arial', 'Helvetica Neue', 'Segoe UI', 'Tahoma', sans-serif;
  background: $blue-dark;
  color: #666666
}

.panel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 300px;
  border-radius: 2px;
  overflow: hidden;
  font-family: 'Arial', 'Helvetica Neue', 'Segoe UI', 'Tahoma', sans-serif;
  background: #fff;

  .header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    background: $blue;
    z-index: 200;
   
    .menu-icon {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 30px;
      height: 18px;
      margin-left: 20px;
      z-index: 200;
      cursor: pointer;

      &:hover {
        .top {
          .line-top, .circle {
            background: #fff;
          }
        }

        .bottom {
          background: #fff;
        }
      }

      .top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .line-top {
          width: 21px;
          height: 3px;
          border-radius: 2px;
          background: $blue-light;
        }

        .circle {
          height: 7px;
          width: 7px;
          border-radius: 50%;
          background: $blue-light;
        }
      }

      .bottom {
        width: 100%;
        height: 3px;
        border-radius: 2px;
        background: $blue-light;
      }
    }

    .title {
      flex: 1;
      text-align: center;
      line-height: 60px;
      color: #fff;
      font-weight: 600;
      font-size: 15px;
    }

    .search {
      display: flex;
      align-items: flex-start;
      height: 25px;
      width: 20px;
      margin-right: 20px;
      &:hover{
        .search-icon{
          border-color: #fff;
        }
        .search-icon:after{
          background: #fff;
        }
      }
      .search-icon {
        position: relative;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 3px solid $blue-light;
        z-index: 200;
      }
      .search-icon:after{
        position: absolute;
        top:10px;
        left:14px;
        height: 9px;
        width: 3px;
        border-radius: 2px;
        background: $blue-light;
        content: '';
        z-index: 100;
        transform: rotate(-45deg);
      }
    }
  }
  
  .line{
    position: absolute;
    top:0;
    bottom: 0;
    left: 30px;
    width: 4px;
    background: #EBEBEB;
    z-index: 100;
  }
  
  .notifications{
    margin-left: 34px;
    .notification{
      .nt-title {
        margin-top: 10px;
        display: flex;
        .circle {
          margin-left: -9px;
          height: 10px;
          width: 10px;
          background: #fff;
          border: solid 2px $blue;
          border-radius: 50%;
          z-index: 200;
        }

        .time {
          margin-left: 10px;
          font-size: 12px;
        }
      }
      .message{
        margin:4px 0 24px 15px;
        font-size: 15px;
        line-height: 20px;
        b{
          font-weight: 6000;
        }
      }
    }
  }
}

